# Supabase Configurações
SUPABASE_URL=api_key_aqui
SUPABASE_KEY=sua_key_secreta_aqui
PORT=3000

# Autenticação
JWT_SECRET=sua_key_secreta_aqui
JWT_EXPIRATION_TIME=3600 # Expiração do token em segundos
